<div class="note">
    <span class="material-icons check-circle">check_circle</span>
    <div class="title">Title</div>
    <div class="text">🚀 Excited to announce the launch of "NotionKeys for Markdown" - a new VS Code extension! 🎉

        🔍 Struggle no more with Markdown formatting. This tool brings the simplicity of Notion's '/' commands right
        into your VS Code environment. Now, effortlessly toggle between H1-H6 headings, bold, italic, and more with
        intuitive keystrokes.</div>
    <div class="note-footer">
        <div class="tooltip">
            <span class="material-icons-outlined hover small-icon">add_alert</span>
            <span class="tooltip-text">Remind me</span>
        </div>
        <div class="tooltip">
            <span class="material-icons-outlined hover small-icon">person_add</span>
            <span class="tooltip-text">Collaborator</span>
        </div>
        <div class="tooltip">
            <span class="material-icons-outlined hover small-icon">palette</span>
            <span class="tooltip-text">Change Color</span>
        </div>
        <div class="tooltip">
            <span class="material-icons-outlined hover small-icon">image</span>
            <span class="tooltip-text">Add Image</span>
        </div>
        <div class="tooltip">
            <span class="material-icons-outlined hover small-icon">archive</span>
            <span class="tooltip-text">Archive</span>
        </div>
        <div class="tooltip">
            <span class="material-icons-outlined hover small-icon">more_vert</span>
            <span class="tooltip-text">More</span>
        </div>
    </div>
</div>